<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Order</title>

    <link rel="stylesheet" href="../static/css/home.css">  
    <link rel="stylesheet" href="../static/css/form.css">  
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Bootstrap libraries -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
                let status = "";
                status = document.getElementById('user_email').value;
                console.log(status);
                if(!status){
                    document.getElementById('user_email').value = 'Login';
                }
        }, false);
    </script>
</head>

<body>
    <nav class="navbar">
        <nav class="nav">
          <div class="container col-9 my-5 br-2 rounded">
              <div class="logo">
                  <a href="/homepage">
                  <img src="../static/img/logo.png" class="logo" alt="">
                  </a>
              </div>
              <div id="mainListDiv" class="main_list">
                  <ul class="navlinks">
                      <form action = "/jobpage" method = "POST">
                      <li>
                        <input type="submit" class="link-button" value = "Find Services"/></li>
                      </form>
                      <form action = "/seller_page" method = "POST">
                        <li>
                          <input type="submit" class="link-button" value = "Your Jobs"/></li>
                      </form>
                      <form action = "/buyer_page" method = "POST">
                        <li>
                          <input type="submit" class="link-button" value = "Your Orders"/></li>
                      </form>
                      <form action = "/login_signup">
                        <li><input id = "user_email" class="link-button" type="submit" value = "{{g.user.user_email}}"/>
                            <input type="hidden" id="account_id" value="{{g.user.account_id}}"></li>
                        </li>
                      </form>
                  </ul>
              </div>
          </div>
      </nav>
    </nav>


    <div class="container col-9 my-5 br-2 rounded">
        <div class="row g-3">
            <div class="col-4 order-md-last">
                <div class = "imgposition">
                <img src="../static/img/placeorder-image.jpg" >
                </div>
            </div>
            <div class="col-8">
                <h1 class="mb-3">Place an Order</h1>
                <form id='addOrderForm' action="/placeorder" method="POST"> 
                    <div class="row">
                        <div class="col-12">
                            <label for="title" style="font-size:20px;">Job ID</label>
                            <input type="text" style="height:30px;font-size:10pt;" class="form-control-plaintext" id="job_id" value="{{job_id}}" name = "job_id" readonly>
                        </div>
                        <div class="col-12">
                            <label for="title" style="font-size:20px;">Job title</label>
                            <input type="text" style="height:30px;font-size:10pt;" class="form-control-plaintext" id="title" value="{{title}}" name = "title" readonly>
                        </div>
                        <div class="col-12">
                            <label for="title" style="font-size:20px;">Email</label>
                            <input type="text" style="height:30px;font-size:10pt;" class="form-control" id="email" placeholder="Enter email" name = "customer_email">
                        </div>
                        <div class="col-12">
                            <label for="price" style="font-size:20px;">Phone</label>
                            <input type="text" style="height:30px;font-size:10pt;" class="form-control" id="phone" placeholder="Enter phone" name = "customer_phone">
                        </div>
                    </div>
                    <hr>
                    <input type="hidden" name="seller_id" value="{{seller_id}}">
                    <button type="submit" style="height:30px;font-size:10pt;" class="btn btn-primary">Submit</button>
                </form>     
            </div>
        </div>
    </div>


    <p id="demo"></p>
</body>

<!-- Function used to shrink nav bar removing paddings and adding background color -->
<script>
    $(window).scroll(function() {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affixsubmit');
            console.log("OK");
        } else {
            $('.nav').removeClass('affixsubmit');
        }
    });
</script>


<footer></footer>

<script src="../static/js/footer.js"></script>
</html>